# Node.js dependencies
node_modules/
npm-debug.log

# Hardhat/Truffle build artifacts
artifacts/
build/
cache/

# Environment variables
.env

# IDE files
.vscode/
.idea/

# macOS/Linux system files
.DS_Store